<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Phone: <a href="mailto:{{ site.phone }}">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

  <script src="/lib/jquery-2.2.0.min.js"></script>
  <script src="/lib/mediaelement.js/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="/lib/mediaelement.js/mediaelementplayer.css" />

  <script>

    $('video').each(function() {
      new MediaElement(this, {
        // shows debug errors on screen
        enablePluginDebug: false,
        // remove or reorder to change plugin priority
        plugins: ['flash','silverlight'],
        // specify to force MediaElement to use a particular video or audio type
        type: '',
        // path to Flash and Silverlight plugins
        pluginPath: '/lib/mediaelement.js/',
        // name of flash file
        flashName: 'flashmediaelement.swf',
        // name of silverlight file
        silverlightName: 'silverlightmediaelement.xap',
        // default if the <video width> is not specified
        defaultVideoWidth: 480,
        // default if the <video height> is not specified
        defaultVideoHeight: 270,
        // overrides <video width>
        pluginWidth: -1,
        // overrides <video height>
        pluginHeight: -1,
        // rate in milliseconds for Flash and Silverlight to fire the timeupdate event
        // larger number is less accurate, but less strain on plugin->JavaScript bridge
        timerRate: 250,
        // method that fires when the Flash or Silverlight object is ready
        success: function (mediaElement, domObject) {

          // add event listener
          mediaElement.addEventListener('timeupdate', function(e) {

            document.getElementById('current-time').innerHTML = mediaElement.currentTime;

          }, false);

          // call the play method
          mediaElement.play();

        },
        // fires when a problem is detected
        error: function () {

        }
      })
    });

  </script>

</footer>
